

body {
	background-color:#CBE9CB;
	margin: 0px;
<!--	font-family:"楷体"; -->
}

#tbl {
	border-collapse:collapse;
	margin-top:5px;
	#width:1300px;	  
}

table,th,td {
	border:1px solid #000;
}

th,td {
	text-align:center;
	min-width: 50px;
}

td,tr	{}.green{background-color: green}
		.grey{background-color: grey}
		.lightGrey{background-color: LightGrey}
		.red{background-color: red; color:yellow;}
		.blue{background-color: LightSkyBlue}
		.orange{background-color: Wheat}
		.pink{background-color: LightPink}
		.LightYellow{background-color: LightYellow}
		.yellow{background-color: yellow; color:red; font-weight:bold}
		.bold { font-weight:bold}
		.fontRed { color:red}
		.fontGreen { color:green}
		.highlight{background-color: rgba(255, 128, 0, 0.3)}
		
footer {	margin-top:50px;
	margin-bottom:50px;
	margin-right:100px;
	float:right; 
	text-align:center;
}
	
#speecker {
	font-weight:900;
	font-family:"楷体"; 
	font-size: 16px;
	float:right; 
	text-align:center;
	color:red;
    overflow: hidden;  
    white-space: nowrap; 
}.speak {
		margin-right: 100px;}
  .fontRed { color:red !important}
  .fontGreen { color:green !important}
  .fontBlue { color:blue !important}

#AI {
	background-color: blink;
	font-weight:900;
	font-family:"楷体"; 
	font-size: 17px;
	float:right; 
	border:red 1px solid;
	white-space: pre;
}

.loader-container {
	margin:0px;
    width: 100%;
    height: 100%;
    position: fixed;
	display: none;
    background: rgba(0, 0, 0, 0.7)
		url("../img/loading.gif") center
        no-repeat;
    z-index: 1;
}
	